html,
body {
  background-color: rgb(255, 255, 255);
}

.page_container {
  display: flex;
  flex-flow: column nowrap;
  border-left: 160px;
  background-color: rgba(126, 126, 126, 1) !important ;
  padding: 20px;
  width: 100vw;
  min-height: 100vh;
  h1 {
    color: #f0f0f0;
  }
}

a {
  text-decoration: none !important;
  color: #f0f0f0 !important;
}

.navbar-salas {
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  margin: 1rem 0;
  font-weight: bold;
  a {
    padding: 0.5rem 0;
    margin: 0 1rem 0 0;

    &:hover {
      color: darken(#f0f0f0, 10%) !important;
    }
  }

  .active {
    border: 0.25rem solid #cc0000;
    border-style: none none solid none;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.lds-roller {
  /* change color here */
  color: #f0f0f0;
}
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bloque_horario {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  // margin: 0.5rem 0 0.5rem 0.5rem;
  padding: 0.5rem;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  color: #000;
  width: 8rem;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}

.bloque_horario_checked {
  background-color: #cc0000;
  color: #ffffff;

  &:hover {
    background-color: #6f0101;
  }
}

.bloque_horario_unavailable {
  background-color: #dee2e6;
  color: #000;
  cursor: not-allowed;
}

.bloques_horario_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav-link-auth {
  a {
    color: #000 !important;
  }
}

.header_page{
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  max-height: 3rem;
}
